.page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.notesLink {
    color: #0070f3;
    text-decoration: underline;
}